
data/working/district.dbf
data/working/district.prj
data/working/district.shp
data/working/district.shx
data/working/raster.tiff
data/working/temp_data.cpg
data/working/temp_data.dbf
data/working/temp_data.prj
data/working/temp_data.shp
data/working/temp_data.shx
data/working/temp_raster.tiff
data/working/district.cpg
data/Final_Data/District_Heat.csv
data/Final_Data/District_Heat.gpkg
